.textBlock {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  padding: 20px;
}

.projectRandomObjects img {
  width: 100px !important;
  height: 100px !important;
  position: absolute;
}

.textMobileBlock {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  padding: 30px;
  position: relative;
}

.textSmallHeight {
  height: 25vh;
  overflow: hidden;
}

.youtubeLink {
  width: 3rem !important;
}

.arrowLink {
  width: 1.1rem !important;
}

.border {
  border: 2px solid #333333;
  box-sizing: border-box;
  filter: drop-shadow(-4.5px -4.5px 8px #fafbff),
    drop-shadow(4.5px 4.5px 8px #a6abbd);
}

.title1 {
  font-weight: 900;
  position: absolute;
  left: 136px;
  font-size: 64px;
  line-height: 62px;
  color: #333333;
  text-shadow: -16px -16px 32px #fafbff, 16px 16px 32px #a6abbd;
  text-transform: uppercase;
  margin-top: 20px;
}

.title2 {
  font-weight: 900;
  position: absolute;
  left: -24px;
  font-size: 64px;
  line-height: 62px;
  color: #333333;
  text-shadow: -16px -16px 32px #fafbff, 16px 16px 32px #a6abbd;
  text-transform: uppercase;
  margin-top: 20px;
}

.description {
  font-weight: bold;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #333333;
  margin-top: 100px;
}

.rightBlock1 {
  background: #f2f2f2;
  border: 0.5px solid #f2f2f2;
  box-sizing: border-box;
  box-shadow: -9px -9px 16px #fafbff, 9px 9px 16px #a6abbd;
  border-radius: 64px 0px 0px 64px;
  width: 500px;
  height: 358px;
  right: 0%;
  top: 144px;
  position: absolute;
}

.leftBlock1 {
  color: #000000;
  width: 600px;
  margin-left: 10%;
  margin-top: 20px;
}

.rightBlock2 {
  position: absolute;
  width: 619px;
  color: #000000;
  right: 10%;
  box-sizing: border-box;
}

.leftBlock2 {
  position: absolute;
  width: 500px;
  height: 358px;
  top: 10%;
  background: #f2f2f2;
  border: 0.5px solid #f2f2f2;
  box-sizing: border-box;
  box-shadow: -9px -9px 16px #fafbff, 9px 9px 16px #a6abbd;
  border-radius: 64px 0px 0px 64px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.logoBox {
  width: 300px;
  height: 300px;
  background: linear-gradient(90deg, #0a121c 0%, #1e2226 100%);
  box-shadow: inset 11px 11px 10px #222930, inset -11px -11px 10px #070f16;
  border-radius: 64px;
  top: 29px;
  left: 40px;
  position: absolute;
  cursor: pointer;
}

.logoRight {
  left: 40px;
  position: absolute;
  top: 12px;
}

.rectangle1 {
  height: 111.78px;
  background: #007d88;
  opacity: 0.2;
  transform: rotate(-16.22deg);
  position: absolute;
  width: 108%;
  left: -4%;
  top: 68%;
}

.rectangle2 {
  height: 111.78px;
  background: #ED0889;
  opacity: 0.2;
  transform: rotate(16.22deg);
  position: absolute;
  width: 108%;
  left: -4%;
  top: 68%;
}

.body {
  height: 1200px;
}
