.aboutPageDivider::after {
  content: "";
  display: block;
  width: 1px;
  height: 15%;
  background: #fff;
  position: absolute;
  right: 50%;
  top: 9%;
}

.a {
  color: #fff;
}

.a:hover {
  text-decoration: none !important;
  color: #f6c886;
}
